.left,
.right {
  width: 50%;
}
.left,
.right {
  padding: 1px;
}
.article {
  padding: 0 10%;
  margin-top:5vh;
}
.artbox {
  background: rgba(255, 255, 255, 0.877);
  padding-bottom: 10vh;
}
.title {
  position: relative;
  background: greenyellow;
  padding-left: 30px;
  transform: skewY(-3deg);
  height: 140px;
  transform-origin: bottom left;
  display: flex;
  align-items: center;
  h2 {
    font-size: 40px;
  }
  .scroll {
    position: absolute;
    top: 2vh;
    right: 10vw;
    color: rgb(71, 71, 71);
    font-size: 20px;
  }
}
.fuwafuwa {
  -webkit-animation: fuwafuwa 3s infinite linear alternate;
  animation: fuwafuwa 3s infinite linear alternate;
}
@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0) ;
  }
  50% {
    -webkit-transform: translate(0, -10px) ;
  }
  100% {
    -webkit-transform: translate(0, 0) ;
  }
}
@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0) ;
  }
  50% {
    transform: translate(0, -10px) ;
  }
  100% {
    transform: translate(0, 0) ;
  }
}